<div class="card" style="position: relative; display: inline-block; width: 100%; margin-top: 5px; margin-bottom: 10px">
    <div class="card-header">
        <!--<a data-toggle="collapse" href="#test-block" aria-expanded="true" aria-controls="test-block">-->
            Rechercher avec ou sans Filtre(s).
        <!--</a>-->
    </div>

    <div class="card-body">
        <form class="form-inline">
            <div class="form-group">
                <label for="inputNom">Nom</label>
                <input type="text" id="inputNom" class="form-control mx-sm-3" >
            </div>
            <div class="form-group">
                <label for="inputPrenom">Prénom</label>
                <input type="text" id="inputPrenom" class="form-control mx-sm-3">
            </div>
            <div class="form-group">
                <label class="mr-sm-2" for="inlineFormCustomSelect">Preference</label>
                <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="inlineFormCustomSelect">
                    <option selected>Choose...</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>
        </form>
    </div>

</div>