<br>
<div class="ttl_ctt" style="margin-bottom: 10px;">
    <span class="title text-uppercase">Administration : </span>
    <span class="description">Gestion des étudiants</span>
    <span class="sep_line"></span>
    <div class="sub_menu" >
        <ul>
            <li><a href="{{ path('tk_etudiant_homepage') }}" title="Liste complète des étudiants"><i class="fa fa-list"></i></a></li>
            <li><span class="sep">|</span></li>
            <li><a href="{{ path('tk_etudiant_add') }}" title="Ajouter un étudiant dans la base"><i class="fa fa-plus"></i></a></li>
            <li><span class="sep">|</span></li>
            <li><a href="" class="disabled" disabled="disabled" title="la liste en PDF."><i class="fa fa-file-pdf-o"></i></a></li>
            <li><span class="sep">|</span></li>
            <li><a href="" class="disabled" disabled="disabled" title="la liste en EXCEL."><i class="fa fa-file-excel-o"></i></a></li>
        </ul>
    </div>
</div>