<br>
<div class="ttl_ctt" style="margin-bottom: 20px;">
    <span class="title text-uppercase">Administration : </span>
    <span class="description">Gestion de la médiathèque</span>
    <span class="sep_line"></span>
    <div class="sub_menu" >
        <ul>
            <li><a href="{{ path('tk_media_homepage') }}" title="Liste complète des vidéos et images"><i class="fa fa-list"></i></a></li>
            <li><span class="sep">|</span></li>
            <li><a href="{{ path('tk_media_add') }}" title="Ajouter une vidéo/image"><i class="fa fa-plus"></i></a></li>
        </ul>
    </div>
</div>