<p>
    {{ name }},<br><br>

    Votre abonnement annuel SUNNAH JEUNESSE est expiré, veuillez le renouveler si vous voulez continuez à visualiser les cours payants.
    <br><br>

    Merci pour votre confiance.<br>
    <br>

    Cordialement,
    <br>

    SUNNAH JEUNESSE.

</p>

<p style="text-align: center">

    {# Makes an absolute URL to the /images/logo.png file #}
    <img src="{{ image }}">


</p>